html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#deck {
  background: linear-gradient(160deg, #064688 0%, #cfdce6);
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 15px;
}

#deck .card {
  position: relative;
  width: 18%;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
 margin: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

#deck .card::before {
  content: "";
  display: block;
  padding-top: 100%;
}

#deck .card.open {
  transform: rotateY(0);
  background: #02b3e4;
  cursor: default;
}

#deck .card.show {
  font-size: 5vw;
}

#deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 5vw;
}

#deck .card.disable {
  pointer-events: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  width: 40%;
  height: 40%;
}

li {
  display: flex;
  flex-wrap: wrap;

}

/*
 * Styles for the Score Panel
 */

.score-panel {
  font-size: 2.3vw;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.score-panel .stars {
  list-style: none;
  text-align: center;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/*
 * Styles for the win modal
 */


.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}


@media screen (min-width: 351px) and (max-width: 780px) {
  ul {
    width: 80%;
    height: 80%;
  }
}
